@page "/CInscripciones"



<div class="container">

    <h3 class="display-4 text-center">Consulta de Inscripciones</h3>
    <p class="text-muted">@Mensaje</p>

    <div>

        @if (Lista.Count == 0)
        {
            if (Cargando == false)
            {
                <div class="text-center">
                    <div class="spinner-border">
                        <span class="sr-only">Loading....</span>
                    </div>
                </div>
            }
            else
            {
                <p class="display-3 text-center">No hay datos que mostrar</p>
            }


        }
        else
        {
            <table class="table">

                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Semestre</th>
                        <th scope="col">Limite de credito</th>
                        <th scope="col">Creditos Tomados</th>
                        <th scope="col">Creditos Disponibles</th>
                        <th></th>
                        <th></th>
                    </tr>

                </thead>

                <tbody>
                    @foreach (var obj in Lista)
                    {
                        <tr>
                            <td scope="row">@obj.InscripcionId</td>
                            <td>@obj.Semestre</td>
                            <td>@obj.Limite</td>
                            <td>@obj.Tomados</td>
                            <td>@obj.Disponibles</td>
                            <td><a class="btn btn-sm btn-outline-primary" href="Inscripcion/@obj.InscripcionId">Ver</a></td>
                        </tr>
                    }


                </tbody>

            </table>

        }


    </div>

</div>

@code {


    public List<Inscripciones> Lista { get; set; }
    public string Mensaje { get; set; }
    public bool Cargando { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Lista = new List<Inscripciones>();
        Cargando = false;

        try
        {
            await Task.Run(() => { CargarLista(); });
        }
        catch (Exception)
        {

            Mensaje = "Error!!";
        }
    }

    private void CargarLista()
    {
        Lista = InscripcionController.GetList(A => true);
        Cargando = true;
    }

}